/* quick reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  /* relevant styles */

  .img_wrap {
    position: relative;
    display: inline-block;
  }
  
  .img_description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(33, 37, 41, 0.75);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    padding: 2.5%;
  
    transition: opacity .3s, visibility .3s;
  }
  
  .img_wrap:hover .img_description {
    visibility: visible;
    opacity: 1;
  }